@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700;900&display=swap');

@keyframes scrollIcons {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

:root {
    --cor0: #8227d6;
    --cor1: #a752f7;
    --purple: #681fad;
    --darkcyan: #1e829b;
    --cyan: #1f91ad;    
    --dark: #3f3f3f;
    --light: #f6f6f6;
}

::-webkit-scrollbar {
    width: 0.8em;
}

::-webkit-scrollbar-thumb{
    background: var(--cyan);
    border: .15em solid #fff;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--darkcyan);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light);
    font-family: poppinsregular,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-family: cinzelbold, poppinsbold, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace, 'Arial Narrow', Arial, sans-serif;
    font-size: 2.6em;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
}

a:hover {
    transition: 0.3s all;
}

.container {
    margin: auto;
}

header { 
    background-image: linear-gradient(to right, var(--purple), var(--cyan));
    position: sticky; 
    top: 0;
    z-index: 10;
}

header a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s all;
}

header a:hover {
    color: #eeeeee;
    font-size: 1.04em;
}

header li {
    margin-left: 20px;
}

.header-content {
    max-width: 1250px;
    margin: auto;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
}

main {
    max-width: 1250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: var(--dark);
    padding: 0 14px;
}

.bio {
    width: 100%;
}


#foto_de_perfil{
    border-radius: 300px;
    margin: 30px 0;
    box-shadow: 6px 6px 16px #80808080;
}

.carousel-container {
    padding: 8px;
    background-image: linear-gradient(to right, var(--purple), var(--cyan));
    border-radius: 12px;
    margin: 10px auto;
    max-width: 400px;
}

.carousel-track {
    overflow: hidden;
    border-radius: 10px;
}

.devicons {
    display: flex;
    width: fit-content;
    gap: 8px;
    align-items: center;
    animation: scrollIcons 20s linear infinite;
}

.devicons img {
    height: 50px;
    width: 50px;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
}

#content p {
    text-align: justify;
    text-indent: 1rem;
    line-height: 1.75em;
    margin-bottom: 10px;
}

#content a {
    color: var(--cyan);
}

#content article:first-child {
    border: none;
}

article {
    text-align: left;
    padding: 50px 0;
    border-top: 1px solid #80808031;
}

article h2 {
    letter-spacing: 1px;
    margin-bottom: 20px;    
}

article h3 {
    text-indent: 1rem;
}

.idioma {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#cursos ul {
    text-indent: 1rem;
}

#cursos li {
    display: list-item; 
    list-style-position: inside;
    padding: 6px;
    margin: 4px;
}

#cursos li:hover {
    color: #34adcb;
    transition: 0.3s all;
}

#cursos a {
    color: var(--dark);
}

#cursos a:hover {
    color: #34adcb;
}

#cursos a:active {
    color: #2f9bb6;
}

#redes_sociais {
    display: flexbox;
    flex-direction: row;
    text-align: right;
}

#redes_sociais img {
    border-radius: 4px; 
}

footer {
    background-image: linear-gradient(to right, var(--purple), var(--cyan));
    color: white;
    text-align: center;
    font-size: 0.8em;
    font-family: poppinslight;
    padding: 4px;
}

footer a {
    color: #fff;
    font-family: poppinsmedium;
    text-decoration: none;
}

footer a:hover {
    color: #dedede;
}
