@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700;900&display=swap');


:root {
    --cor0: #8227d6;
    --cor1: #a752f7;
    --cor2: #008BC7;
    --purple: #681fad;
    --cyan: #1f91ad;
    --dark: #3f3f3f;
    --light: #f6f6f6;
}

::-webkit-scrollbar {
    width: 0.8em;
}

::-webkit-scrollbar-track {
    background: hsl(192 59% 45% / 1);
    margin-block: .5em;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb{
    background: hsl(192 100% 20%);
    border: .15em solid hsl(192 59% 45% / 1);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
    background: hsl(192 100% 15% / 1);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light);
    font-family: poppinsregular,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}    

.container {
    margin: auto;
}

header { 
    background-image: linear-gradient(to right, var(--purple), var(--cyan));
    position: sticky;   
    top: 0;
}

.header-content {
    max-width: 1250px;
    margin: auto;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


h1 {
    font-family: cinzelbold, poppinsbold, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace, 'Arial Narrow', Arial, sans-serif;
    font-size: 2.6em;
}

li {
    display: inline-block;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #dedede;
    transition: 0.3s all;
}

main {
    max-width: 1250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--dark);
}


#foto_de_perfil{
    border-radius: 300px;
    margin: 30px 0;
    box-shadow: 6px 6px 16px #80808080;
}

#devicons {
    display: flex;
    width: fit-content;
    margin: 15px  auto;
    padding: 10px;
    gap: 10px;
    align-items: center; 
    border-radius: 12px;
    background-image: linear-gradient(to right, var(--purple), var(--cyan));
}

#devicons img {
    height: 50px;
    width: 50px;
    background-color: #fff;
    padding: 5px;
    border-radius: 12px;
}

#content p {
    text-align: justify;
    text-indent: 1rem;
    line-height: 1.75em;
    margin-bottom: 10px;
}

#content article:first-child {
    border: none;
}

article {
    text-align: left;
    padding: 50px 0;
    border-top: 1px solid #80808031;
}

article h2 {
    letter-spacing: 1px;
    margin-bottom: 20px;    
}

article h3 {
    text-indent: 1rem;
}

.idioma {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#cursos ul {
    text-indent: 1rem;
}

#cursos li {
    display: list-item; 
    list-style-position: inside;
    padding: 6px;
    margin: 4px;
}

#cursos li:hover {
    color: #34adcb;
    transition: 0.3s all;
}

#cursos a {
    color: var(--dark);
}

#cursos a:hover {
    color: #34adcb;
    transition: 0.3s all;
}

#cursos a:active {
    color: #2f9bb6;
}

#redes_sociais {
    display: flexbox;
    flex-direction: row;
    text-align: right;
}

#redes_sociais img {
    border-radius: 4px; 
}

footer {
    background-image: linear-gradient(to right, var(--purple), var(--cyan));
    color: white;
    text-align: center;
    font-size: 0.8em;
    font-family: poppinslight;
    padding: 4px;
}

footer a {
    font-family: poppinsmedium;
    text-decoration: none;
}

footer a:hover {
    color: #dedede;
    transition: 0.3s all;
}
